{**
* User: Frantisek Kasa <frantisekkasa@gmail.com>
* Date: 06.11.2016
* File: create
* Project: becreate
*}

{block #title}Vytvoření položky menu{/block}
{block #description}{/block}

{block content}
<h1>Vytvoření položky menu</h1>
<hr>

<p><a n:href="default">← zpět na výpis položek menu</a></p>

<table class="table table-responsive">
    <tr>
        <td>
            {control menuForm}
        </td>
    </tr>
</table>