{**
* User: Frantisek Kasa <frantisekkasa@gmail.com>
* Date: 06.11.2016
* File: edit
* Project: becreate
*}

{block #title}Editace položky menu{/block}
{block #description}{/block}

{block content}
<div class="col-md-6">
    <h1>Editace položky menu</h1>
    <hr>
    <p><a n:href="default">← zpět na výpis</a></p>

    {control menuForm}
</div>